@keyframes grow-and-hide {
  0%, 100% {scale: 0; }
  50% {scale: 1.4; }
}

#root {
  width: 100%;
}

.rules {
  min-height: calc(48vh + 7.5rem);
  background-color: rgb(176, 209, 238);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score-board-area {
  background-color: rgb(185, 238, 176);
  padding: 1rem;
  border-radius: 1rem;
  margin: 0.5rem auto;
}

.playground {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  background-color: rgb(176, 209, 238);
  padding: 1.5rem;
  border-radius: 1rem;

  .tile {
    margin: 0 auto;
    position: relative;
    height: 12vh;
    aspect-ratio: 1/1;
    background-color: rgb(91, 91, 91);
    border-radius: 50%;
    box-shadow: 2px 2px 0 0 rgb(45, 45, 45);

    .mole {
      scale: 0;
      position: absolute;
      top: calc(50% - 5vh);
      left: calc(50% - 5vh);
      height: 10vh;
      aspect-ratio: 1/1;
      border-radius: 50%;
    }

    .slow-mole {
      animation: grow-and-hide 4s forwards;
    }

    .medium-mole {
      animation: grow-and-hide 2.5s forwards;
    }

    .fast-mole {
      animation: grow-and-hide 1.5s forwards;
    }

  }
}
