@keyframes grow-and-hide {
  0% {scale: 0.25; }
  55% {scale: 1; }
  100% {scale: 0;}
}

@keyframes appear {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

#root {
  width: 100%;
}

.not-visible{opacity: 0;}
.welcome-h1 {animation: 1s appear 0.75s forwards;}
.welcome-h2 {animation: 1s appear forwards;}
.welcome-btn {animation: 1s appear 1.5s forwards;}

.rules {
  min-height: calc(30vh + 6rem);
  background-color: rgb(176, 209, 238);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score-board-area {
  background-color: rgb(185, 238, 176);
  padding: 1rem;
  border-radius: 1rem;
  margin: 0.5rem auto;
}

.playground {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  background-color: rgb(176, 209, 238);
  padding: 1.5rem;
  border-radius: 1rem;

  .tile {
    margin: 0 auto;
    position: relative;
    height: 10vh;
    aspect-ratio: 1/1;
    background-color: rgb(91, 91, 91);
    border-radius: 50%;
    box-shadow: 2px 2px 0 0 rgb(45, 45, 45);

    .mole {
      scale: 0;
      position: absolute;
      top: calc(50% - 6vh);
      left: calc(50% - 6vh);
      height: 12vh;
      aspect-ratio: 1/1;
      border-radius: 50%;
      cursor: pointer;
    }

    .slow-mole {
      animation: grow-and-hide 4s forwards;
    }

    .medium-mole {
      animation: grow-and-hide 2.5s forwards;
    }

    .fast-mole {
      animation: grow-and-hide 1.5s forwards;
    }

  }
}

@media (min-width: 768px) {

  .rules {
      min-height: calc(45vh + 6rem);
  }

  .playground {
    .tile {
      height: 15vh;

      .mole {
        top: calc(50% - 9vh);
        left: calc(50% - 9vh);
        height: 18vh;
        cursor: pointer;
      }
    }
  }
}
